/*--------------------Document-------------------*/
html {
  overflow-y: scroll;
}

body {
  font-family: Source Code Pro, sans-serif;
}

/*--------------------Dynamic Mobile-------------------*/

.mobile_only {
  display: none;
}

/*--------------------Buttons-------------------*/
.button {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background-color: #bababa;  /*color1 0e7e3a */
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 0px;
  width: 10px;
  height: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button:after {
    content: "";
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: .5;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;  
  text-align: right;
  font-size: 15px;
  left: 0px;

}

.button span:after{
  content: 'blank';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 150px;
  transition: 0.5s;
}

.button#email span:after {
  content: 'email';
}
.button#linkedin span:after {
  content: 'linkedin';
}
.button#github span:after {
  content: 'github';
}

.button:hover {
  width: 150px;
  transition: .5s;
}

.button:hover span {
  padding-right: 120px;
  left: 20px;
  color: #fff;
}

.button:hover span:after {
  opacity: 1;
  text-align: right;
  left: 40px;
}

/*--------------------Menu-------------------*/

#menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

.nav-button-list {
  /*position: relative;*/
  margin: auto;
  /*float: left;*/
  right: 10px;
  /*bottom: 20%;*/
  display: flex;
}

a.nav-button {
  margin: 20px;
  text-decoration: none;
  color: #aaa;
  text-transform: none;
  letter-spacing: .04em;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

a.nav-button.active {
  text-decoration: none;
  color: #111;
}

a.nav-button:hover {
  text-decoration: none;
  color: #0e7e3a;  /*color1*/
}

/*--------------------Header-------------------*/


.header {
    justify-content: center;

}

.centered-horizontal
{
  display: inline-block;
  justify-content: center;
  margin: auto;
}

/*--------------------Project Sections-------------------*/


hr.style1{
  border-top: 1px solid #8c8b8b;
}

.project {
  width: 100%;
  display: flex;
}

.project-image {
  margin: 20px;
}

.project-text {
  margin: 20px;
}

/*--------------------Logo-------------------*/

.logo {
/*  position: relative;
*/  margin: auto;/*
  margin-left: 20px;
  margin-bottom: 10px;*/
  width: 300px;
  height: 150px;
}
.logo img {
  width: 300px;
  height: 150px;
}


.content {
  padding-top: 70px;
  margin-top: 10px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  pointer-events: none;
}

/*--------------------Welcome Page-------------------*/

.welcome-list {
  width: 96%;
  min-width: 550px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  float: left;
}

.welcome-photo {
  position: relative;
  min-width: 300px;
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  padding: 50px 10px 10px 10px;
  display: flex;
  background-color: transparent;
  width: 100%;

}


/*--------------------Welcome Page-------------------*/

.social-icon-button-list {
  /*position: absolute;*/
  /*float: left;*/
  right: 10px;
  top: 20%;
  display: flex;
}

.footer-text {
  color: #aaa;
  margin: auto;
}

.about_wrapper, .contact_wrapper {
  display: flex;
}

.about_subtitle {
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: right;
  color: #2cb192;
  font-size: 36px;
  font-family: Source Code Pro, sans-serif;
  text-transform: none;
  letter-spacing: .04em;
  font-weight: 300;
  font-style: normal;
}

.about_photobox {
  width: 50%;
  height: 70%;
}

.about_content {
  width: 50%;
  margin-left: 40px;
  max-width: 500px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: left;
}

.resume_wrapper {
  padding-top: 40px;
  display: flex;
}

.resume_content {
  width: 70%;
}

.resume_subtitle {
  text-align: center;
  color: #2cb192;
  font-size: 36px;
  font-family: Source Code Pro, sans-serif;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: .04em;
  font-weight: 300;
  font-style: normal;
  /*margin: 1em 0;*/
}

.resume_download_links {
  padding-top: 0px;
  width: 100%;
  text-align: center;
}
.resume_download_links li {
  padding-bottom: 5px;
}
.resume_download_links a {
  font-weight: bold;
  color: #aaa;
}
.resume_download_links a:hover {
  font-weight: bold;
  color: #ea49b5;
}

.resume_image_wrapper img {
  width: 100%;
}

.resume_images_list {
  width: 30%;
}

.resume_image {
  width: 100%;
}

.contact_content {
  width: 50%;
  max-width: 500px;
  /*margin-right: 30px;*/
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

.photos_subtitle {
  text-align: left;
  color: #2cb192;
  font-size: 36px;
  font-family: Source Code Pro, sans-serif;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: .04em;
  font-weight: 300;
  font-style: normal;
}

.photos_thumbnail_list {
  display: flex;
  width: 100%;
  margin-left: 10px;
  pointer-events: auto;
}

.photos_thumbnail.tall {
  float: left;
  width: 100%;
  margin: 10px;
}

.photos_thumbnail.wide {
  float: left;
  width: 200%;
  margin: 10px;
  padding-top: .5%;
}

.contact_content a:hover {
  text-decoration: none;
  color: #ea49b5;
}

.tooltip {
  pointer-events: none;
}

.tooltip-inner {
  font-family: arial;
}

section img {
  width: 100%;
}

.about_subtitle {
  text-align: left;
}

.contact-text {
  text-align: left;
}

.contact_image {
  width: 100%;
  padding: 10px;
}

/*--------------------------------------------------------- For mobile devices*/
@media only screen and (max-width: 800px) {
  .header {
    display: block;
    margin-top: 60px;
  }

  .logo {
    margin: 0 auto;
  }

  .logo-subtitle {
    margin: 0 auto;
  }

  .nav-button-list {
    /*display: none;*/
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .welcome-list {
    display: block;
    min-width: 100%;
    margin: 0;
  }

  .welcome-photo {
    max-width: 2000px;
    max-height: 2000px;
    min-width: 0px;
    width: 100%;
    height: auto;
  }

  .social_icons_wrapper {
    margin: 0 auto;
    width: 40px;
    height: 40px;
  }

  .social-icon-button-list {
    position: relative;
    /*display: inline-block;*/
    margin: auto;
    width: 40px;
    /*float: none;*/
  }

  .social-icon-button-list li {
    margin: 10px;
    position: relative;
    width: 20px;
  }

  .social-icon-button-list a {
    margin: auto;
  }

  .social-icon-button-list a img {
    margin: auto;
  }

  .slicknav_menu {
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
  }

  .slicknav_btn {
    margin: 0 auto;
  }

  .about_wrapper {
    display: block;
  }

  .about_subtitle {
    text-align: center;
  }

  .about_photobox {
    width: 100%;
    height: 70%;
  }

  .about_content {
    width: 100%;
    margin: 0px;
    padding: 15px;
  }

  .resume_wrapper {
    padding-top: 40px;
    display: block;
  }

  .resume_content {
    width: 100%;
  }

  .resume_subtitle {
    text-align: center;
    color: #2cb192;
    font-size: 36px;
    font-family: Source Code Pro, sans-serif;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: 300;
    font-style: normal;
  }

  .resume_download_links {
    padding-top: 0px;
    width: 100%;
    text-align: center;
  }

  .resume_download_links li {
    padding-bottom: 5px;
  }

  .resume_download_links a {
    font-weight: bold;
    color: #aaa;
  }

  .resume_download_links a:hover {
    font-weight: bold;
    color: #ea49b5;
  }

  .resume_image_wrapper img {
    width: 100%;
  }

  .resume_images_list {
    width: 100%;
  }

  .resume_image {
    width: 100%;
  }

  .contact_content {
    width: 90%;
  }

  .photos_subtitle {
    margin-left: 20px;
  }

  .web_only {
    display: none;
  }

  .mobile_only {
    display: block;
  }

  section {
    margin-right: 20px;
  }

  .contact-text {
    width: 100%;
    margin: 0px auto;
  }

  .contact_image {
    width: 100%;
    padding: 10px 10px 0px 0px;
  }

  .contact_wrapper {
    display: block;
  }
}
/*--------------------------------------------------------- Overwritten outside styles */
.featherlight-next:hover, .featherlight-previous:hover {
  background: rgba(255, 255, 255, 0);
}
