/*
Error: Undefined variable: "$color5œ".
        on line 494 of style.scss

489: 
490: 
491: .footer::after {
492:   content: "";
493:   // background: url("../img/game-header-background.png");
494:   background-color: $color5œ;
495:   background-size: 100% auto;
496:   opacity: 0.25;
497:   top: 0;
498:   left: 0;
499:   bottom: 0;

Backtrace:
style.scss:494
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/steveh/.rvm/rubies/ruby-2.4.0/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color5œ\".\A         on line 494 of style.scss\A \A 489: \A 490: \A 491: .footer::after {\A 492:   content: \"\";\A 493:   // background: url(\"../img/game-header-background.png\");\A 494:   background-color: $color5œ;\A 495:   background-size: 100% auto;\A 496:   opacity: 0.25;\A 497:   top: 0;\A 498:   left: 0;\A 499:   bottom: 0;"; }
